<strong>Ola, Clara e Luiz Eduardo</strong>
<p>Houve uma nova confirmacao de convidados, confira os detalhes abaixo:</p>
<p>
  <strong>Convidado:</strong> {{name}}<br />
  <strong>Adultos Confirmados:</strong> {{confirmed_adults}}<br />
  <strong>Criancas Confirmadas:</strong> {{confirmed_kids}}<br />

  <br />
  <small>
    Caso haja uma alteracao, enviaremos um novo email
  </small>
</p>
