<strong>Olá, Clara e Luiz Eduardo.</strong>
<p>Houve uma nova confirmação de convidados, confira os detalhes abaixo:</p>
<p>
  <strong>Convidado:</strong> {{name}}<br />
  <strong>Adultos Confirmados:</strong> {{confirmed_adults}}<br />
  <strong>Crianças Confirmadas :</strong> {{confirmed_kids}}<br />

  <br />
  <small>
    Caso haja uma alteração, enviaremos um novo e-mail.<br />
    Para ver todos os confirmado, basta <a href="claraeluizeduardo.com/n">clicar aqui</a>
  </small>
</p>